* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #475F45;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.hero {
    margin-bottom: 115px;
}

.section {
    min-height: 100vh;
}

.title {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
    margin-bottom: 16px;
}

.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
}

.header {
    padding-top: 30px;
    padding-bottom: 15px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    padding-left: 14px;
}

.logo__title {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    font-style: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.logo__subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.nav__list {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.nav__item {
    padding-right: 40px;
    padding-top: 15px;
}

.nav__item--border {
    display: block;
    border: 2px solid #475F45;
    padding: 15px 30px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero__content {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    padding-top: 59px;
}

.hero__column {
    display: flex;
}

.hero__info {
    padding-top: 169px;
    width: 43%;
    margin-right: 17%;
}

.hero__img-block {
    width: 40%;
}

.hero__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    color: #414840;
    margin-bottom: 32px;
    text-transform: capitalize;
}

.hero__btns {
    display: flex;
}

.hero__img-wrap {
    width: 478px;
    overflow: hidden;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    display: block;
    border: 2px solid #475F45;
    padding: 18px 38px;
}

.btn--active {
    margin-right: 16px;
    background-color: #475F45;
    color: white;
}

.hero__img-wrap {
    padding: 6px;
    border: gray solid 4px;
    border-radius: 500px 500px 0px 0px;
}

.hero__img {
    border-radius: 500px 500px 0px 0px;
}

.about__container {
    display: flex;
    flex-wrap: wrap;
}

.about {
    background-color: #343D33;
    padding-bottom: 96px;
}
.about__container {
    max-width: 1060px;
}

.about__top-img-wrap {
    width: 534px;
    height: 354px; 
    display: flex;
    margin-right: 89px;
    margin-top: 96px;
    margin-bottom: 80px;
}

.about__top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__desc {
    width: 417px;
    margin-top: 96px;
    color: white;
}

.about__info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.btn--white {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    border: 2px solid #FFFFFF
}

.about__bottom-img-wrap {
    width: 1040px;
    height: 409px;
    display: flex;
}

.news {
    display: flex;
    flex-direction: column;
}

.news__subtitle {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
}

.news__link {
    border-bottom: 2px solid #475F45;
    margin-bottom: 48px;
}

.news__content {
    display: flex;
}

.news__item {
    display: flex;
}

.news__item--big {
    width: 520px;
    flex-direction: column;
}

.news__img-wrap {
    width: 236px;
    height: 151px;
}

.news__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.news__item-desc {
    flex: 1;
}